<section class="section has-text-white">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="has-text-danger has-text-centered">
          <%= devise_error_messages!%>
        </div>

        <div class="field">
          <%= f.label :email, class: "label control" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
                            class: "input", placeholder: "Seu email" %>
        </div>

        <div class="field">
          <%= f.label :senha, class: "label control" %>
          <%= f.password_field :password, autocomplete: "current-password",
                               class: "input", placeholder: "Sua Senha" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me, class: "checkbox" %>
            <%= f.label :lembrar_me, class:"checkbox" %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "ENTRAR", class: "button is-fullwidth is-primary is-outlined" %>
        </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>

</section>
